* {
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.title {
    display: block;
    Width: 82px;
    Height: 41px;
    margin: 128px 0px 0px 208px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.41px;

}

.subtitle {
    display: block;
    margin: 12px 0px 0px 208px;
    Width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.41px;
    color: rgba(0, 0, 0, 0.5);
    white-space: pre-line;
}

.inputemail {
    display: block;
    Width: 380px;
    Height: 48px;
    background: #F2F2F7;
    border-radius: 6px;
    border: 0;
    margin: 102px auto 0px;
    padding: 13px 291px 13px 14px;
}

.inputpassword {
    display: block;
    Width: 380px;
    Height: 48px;
    background: #F2F2F7;
    border-radius: 6px;
    border: 0;
    margin: 12px auto 0px;
    padding: 13px 261px 13px 14px;
}

.forgot-password {
    Width: 123px;
    Height: 22px;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #007AFF;
    text-decoration: none;
    text-align: center;
    margin: 17px 0px 0px 465px;
}

button {
    display: block;
    Width: 380px;
    Height: 48px;
    background: rgba(0, 0, 0, 0.94);
    border-radius: 10px;
    border: 0;
    color:#FFFFFF;
    padding: 13px 151px;
    margin: 20px auto 0px;
}

.signup-paragraph {
    display: block;
    width: 225px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.51);
    margin: 204px auto 39px;
    text-decoration: none;
}

.signup-paragraph a {
    color: #007AFF;
    text-decoration: none;
}